
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
	<title>index</title>
	<link rel="stylesheet" type="text/css" href="/css/index.css">
	<script src="jquery-1.8.3/jquery.min.js"></script>
	<script type="text/javascript" src="js/index.js"></script>


</head>
<body>
<!-- <a class="btn" href="/logout">退出</a> -->
	<marquee id="shan">Welcome <%= user.username %>,欢迎登陆!!</marquee>

	<div id="top">
		<div class="top-fu cen">
			<img src="images/1.png" class="fl">
			<ul class="fr">
				<a href="/home"><li class="fl">首页</li></a>
				<a href="/login"><li class="fl">登录</li></a>
				<a href="/logout"><li class="fl">注销</li></a>
			</ul>
		</div>
		<!-- <img src="images/2.jpg"> -->
	</div>
	<div id="middle">
		<div class="middle-fu cen">
			<div class="left fl">
				<div class="left-1">
					<a href="/list1"><h1 class="h1">课程简介</h1></a>
					<div class="desc font1">
						<img src="images/2.png" style="float:left">数字逻辑是数字电路逻辑设计的简称，其内容是应用数字电路进行数字系统逻辑设计。电子数字计算机是由具有各种逻辑功能的逻辑部件组成的，这些逻辑部件按其结构可分为组合逻辑电路和时序逻辑电路。组合逻辑电路是由与门、或门和非门等门电路组合形成的逻辑电路；时序逻辑电路是由触发器和门电路组成的具有记忆能力的逻辑电路。有了组合逻辑电路和时序逻辑电路，再进行合理的设计和安排，就可以表示和实现布尔代数的基本运算。
				
					</div>
				</div>
				<div class="left-2">
					<a href="/list2"><h1 class="h1">课程特色</h1></a>
					<div class="desc font1">
						<img src="images/16.jpg" style="float:left">数字逻辑是数字电路逻辑设计的简称，其内容是应用数字电路进行数字系统逻辑设计。电子数字计算机是由具有各种逻辑功能的逻辑部件组成的，这些逻辑部件按其结构可分为组合逻辑电路和时序逻辑电路。组合逻辑电路是由与门、或门和非门等门电路组合形成的逻辑电路；时序逻辑电路是由触发器和门电路组成的具有记忆能力的逻辑电路。有了组合逻辑电路和时序逻辑电路，再进行合理的设计和安排，就可以表示和实现布尔代数的基本运算。
				
					</div>
				</div>
				<div class="left-3">
					<a href="/list3"><h1 class="h1">教师简介</h1></a>
					<div class="desc font1">
						<img src="images/6.png" style="float:left"> 艾玲梅，博士，副教授。研究方向： 智能信息处理、模式识别、测控技术。学术论文(带*为通信作者)

[1] 艾玲梅, 郭春. 基于组合特征提取与多级SVM的轮胎花纹识别[J]. 计算机工程与应用, 2013, (20):179-182.

[2] 王利, 艾玲梅*, 王四万,等. 驾驶疲劳脑电信号节律的特征分析[J]. 生物医学工程学杂志, 2012, (4):629-633.

[3] 艾玲梅, 乔丽, 申军. 多尺度Retinex方法在车辆胎痕图像增强方面的应用[J]. 计算机工程与应用
					</div>
				</div>
			</div>	
			<div class="mid fl">
				<div id="myplay">
					<ul id="ul">
						<li><img src="images/5.jpg" alt=""></li>
						<li><img src="images/10.jpg" alt=""></li>
						<li><img src="images/7.jpg" alt=""></li>
						<li><img src="images/8.jpg" alt=""></li>
						<li><img src="images/9.jpg" alt=""></li>
						<li><img src="images/10.jpg" alt=""></li>
					</ul>
					<ol id="ol">
						<li class="bg"></li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
					</ol>
					<button id="prev">&lt;</button>
					<button id="next">&gt;</button>
				
				</div>
				<div class="mid-2">数字逻辑相关资讯
					<div id="colee" style="overflow:hidden;height:90%;width:100%;">
						<div id="colee1">
							<p><a href="lunwen/shuzhi.docx">数字电路的数制</a></p>
							<p><a href="lunwen/yingyong.docx">数字逻辑电路的应用</a></p>
							<p><a href="http://mall.cnki.net/magazine/article/DZGY200304009.htm">数字逻辑电路的竞争与险象分析</a></p>
							<p><a href="http://mall.cnki.net/magazine/article/CXSZ200306013.htm">数字逻辑电路开放式实验的教学探讨</a></p>
							<p><a href="lunwen/shuzhi.docx">数字电路的数制</a></p>
							<p><a href="http://mall.cnki.net/magazine/article/ZYJP200723043.htm">项目教学法在《数字逻辑电路》教学中的实践</a></p>
							<p><a href="http://mall.cnki.net/magazine/article/JYSB200804040.htm">浅析数字逻辑电路实验教学</a></p>
							<p><a href="http://mall.cnki.net/magazine/article/BCSF200806010.htm">数字逻辑电路设计的两个重要问题</a></p>
							<p><a href="http://mall.cnki.net/magazine/article/JLKF200808047.htm">《数字逻辑电路》课程的教改探索</a></p>
							<p><a href="lunwen/yingyong.docx">数字逻辑电路的应用</a></p>
							<p><a href="http://mall.cnki.net/magazine/article/ZGDI200907075.htm">改革“数字逻辑电路实验”培养创新型人才</a></p>
							<p><a href="http://mall.cnki.net/magazine/article/KJWH200908158.htm">优化教学方法 提高教学质量——浅谈“数字逻辑电路”教学中的体会</a></p>
							<p><a href="http://mall.cnki.net/magazine/article/KJXH201003114.htm">论数字逻辑电路的特点在教学中的重要性</a></p>
							<p><a href="http://mall.cnki.net/magazine/article/ZGPX201111040.htm">职业学校《数字逻辑电路》课改初探</a></p>
							<p><a href="http://mall.cnki.net/magazine/article/WFXY201202030.htm">面向计算机专业的《数字逻辑电路》教学研究</a></p>
							
							
						</div>
						<div id="colee2"></div>
					</div>
				</div>
				<div class="mid-3" id="box"><a href="/liu">留言</a>
					<!-- <div id="explain"> 
		不妨多提交几次留言试试看……</div> 
					
						<ul id="fill_in"> 
							<form> 
								<li>姓名：<input id="text" type="text" class="text" /></li> 
								<li>内容：<textarea id="content" style="width:300px; height:100px"></textarea></li> 
								<li><input id="btn" type="submit" value="提交" class="btn" /></li> 
							</form> 
						</ul> 
						<div id="message_text"> 
							<h2>显示留言</h2> 
							<ul></ul> 
						</div>  -->
					</div> 
				
			</div>	
			<div class="right fl">
				<div class="right-1">
				电子课件
					<ul>
						<li><a href="PPT/1.ppt">概述</a></li>
						<li><a href="PPT/2.ppt">数据类型、运算符与表达式</a></li>
						<li><a href="PPT/3.ppt">顺序程序设计</a></li>
						<li><a href="PPT/4.ppt">选择程序设计</a></li>
						<li><a href="PPT/5.ppt">循环程序设计</a></li>
						<li><a href="PPT/6.ppt">数组</a></li>
						<li><a href="PPT/7.ppt">函数</a></li>
						<li><a href="PPT/8.ppt">指针</a></li>
						<li><a href="PPT/9.ppt">文件</a></li>
						<li><a href="PPT/10.ppt">结构体与共用体</a></li>
						<li><a href="PPT/11.ppt">常见错误</a></li>
						<li><a href="PPT/12.ppt">图形程序设计</a></li>
					</ul>
				</div>
				<div class="right-2">
					<a href="http://v.dxsbb.com/dianqi/616/player-0-0.html"><object data="game_0.swf" height="100%" width="100%"></object></a>
					<!-- <object data="vdo_1.swf" height="100%" width="200"></object> -->
				</div>
				<div class="right-3">相关实验
					<ul>
						<a href="shiyan/one.doc"><li>实验一</li></a>
						<a href="shiyan/two.doc"><li>实验二</li></a>
						<a href="shiyan/three.doc"><li>实验三</li></a>
					</ul>
				</div>
			</div>	
		</div>
		
	</div>
	<div id="foot">
		<div class="foot-fu cen">
			<ul class="cen">
				<li class="fl">关于我们：</li>
				<a href="http://www.jingpinke.com/xpe/portal/270863e5-1189-1000-8dc9-ac9dee625938?uuid=8a833996-18ac928d-0118-ac9291b9-05e2&objectId=oid:8a833996-18ac928d-0118-ac9291b9-05e3&courseID=A030012"><li class="fl">数据结构课程网站</li></a>
				<a href="http://www.51zxw.net/list.aspx?cid=376"><li class="fl">计算机网络课程网站</li></a>
				<a href="http://kc.ujs.edu.cn/site85/"><li class="fl">计算机组成原理网站</li></a>
				<a href="http://www.startos.org/"><li class="fl">操作系统课程网站</li></a>
				
			</ul>
			<ol class="cen">
				<li class="fl">版权所有：</li>
				<li class="fl">可以是谜|</li>
				<li class="fl">qq：1756475156|</li>
				<li class="fl">电话：18829283902|</li>
				<li class="fl">地址：陕西省西安市陕西师范大学</li>
				
			</ol>
		</div>
	</div>

</body>

</html>