 <% include header.html %>
<!-- <div id="load">
		<img src="images/4.png">
		<ul>
			<li>用户名：<input type="text" value=""></li>
			<li>密&nbsp 码：<input type="password" value=""></li>
			<a href="index.html"><li class="load">登录</li></a>
			 <button type="submit" class="btn btn-primary"><li class="load">登录</li></button>
		</ul>
</div> -->
 <div class="container">
     <form class="col-sm-offset-4 col-sm-4 form-horizontal" role="form" method="post" id="load">
         <img src="images/4.png">
         <div id="login" class="cen">
             <!-- <h1>用户登录</h1> -->
             <div class="form-group">
                 <label class="col-sm-3 control-label" for="username"><br></label>
                 <div class="col-sm-9">
                     <input type="text" class="form-control" id="username" name="username" placeholder="用户名" required>
                 </div>
             </div>
             <div class="form-group">
                 <label class="col-sm-3 control-label" for="password"><br></label>
                 <div class="col-sm-9">
                     <input type="password" class="form-control" id="password" name="password" placeholder="密码" required>
                 </div><br>
             </div>
             <div class="form-group">
                 <div class="col-sm-offset-3 col-sm-9">
                     <button type="submit" class="btn btn-primary">登录</button>
                </div>
             </div>
             <div class="form-group">
                 <div class="col-sm-offset-3 col-sm-9">
                 	<br>	
                    <p ><a href="/zhuce">先注册</a></p>
                </div>
             </div>
         </div>
     </form>
 </div>
 <% include footer.html %>
 <!-- <!DOCTYPE html>

	<div id="load">
		<img src="images/4.png">
		<ul>
			<li>用户名：<input type="text" value=""></li>
			<li>密&nbsp 码：<input type="password" value=""></li>
			<a href="index.html"><li class="load">登录</li></a>
		</ul>
	</div>
</body>
</html> -->
