<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>list1</title>
	<link rel="stylesheet" type="text/css" href="css/list1.css">
</head>
<body>
	<div id="top">
		<div class="top-fu cen">
			<img src="images/1.png" class="fl">
			<ul class="fr">
				<a href="/index"><li class="fl">首页</li></a>
				<a href="/login"><li class="fl">登录</li></a>
				<a href="/zhuce"><li class="fl">退出</li></a>
			</ul>
		</div>
		<!-- <img src="images/2.jpg"> -->
	</div>
	<div id="middle">
		<div class="middlefu cen">
			<a href="http://baike.sogou.com/v7590393.htm?fromTitle=%E6%95%B0%E5%AD%97%E9%80%BB%E8%BE%91"><img src="images/9.png" >
</a>
		</div>
			
	</div>
		<div id="foot">
		<div class="foot-fu cen">
			<ul class="cen">
				<li class="fl">关于我们：</li>
				<a href=""><li class="fl">数据结构课程网站</li></a>
				<a href=""><li class="fl">计算机网络课程网站</li></a>
				<a href=""><li class="fl">计算机组成原理</li></a>
				<a href=""><li class="fl">操作系统课程网站</li></a>
				
			</ul>
			<ol class="cen">
				<li class="fl">版权所有：</li>
				<li class="fl">可以是谜|</li>
				<li class="fl">qq：1756475156|</li>
				<li class="fl">电话：18829283902|</li>
				<li class="fl">地址：陕西省西安市陕西师范大学</li>
				
			</ol>
		</div>
	</div>
</body>
</html>